{
  "plugins": ["babel-plugin-macros", "babel-plugin-syntax-jsx"],
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {},
        "@babel/preset-typescript": {}
      }
    ]
  ]
}